body {
  background-color: azure;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  float: left;
  width: 100%;
}

.container * {
  float: left;
  margin: 1rem;
}

.inner-container {
  width: 100%;
  background-color: rgb(208, 226, 232);
}

img {
  height: 100px;
  width: 100px;
  transition: box-shadow 0.5s ease;
  border-radius: 3px;
}

img:hover {
  box-shadow: 2px 2px 2px #5a5a5a;
}

p {
  width: 150px;
  text-align: center;
  margin-top: 150px;
}
nav {
  width: 100%;
  background-color: cadetblue;
  padding-left: 30px;
  padding-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}
.logo:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

.sub-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
}

.btnAdd {
  background-color: rgb(70, 166, 230);
  height: 40px;
  width: 120px;
  border-radius: 10px;
  display: block;
  padding-top: 22px;
  text-align: center;
  line-height: 1em;
}

.btnEdit {
  background-color: rgb(84, 191, 84);
  height: 30px;
  width: 80px;
  border-radius: 8px;
  display: block;
  padding-top: 10px;
  text-align: center;
  line-height: 1em;
}

.btnDel {
  background-color: rgb(238, 91, 91);
  height: 40px;
  width: 80px;
  border-radius: 10px;
  display: block;
  padding-top: 5px;
  text-align: center;
  line-height: 1em;
}

.form-container li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-container > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

.form-container > li > label + * {
  flex: 1 0 220px;
}

.form-container li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background-color: rgb(70, 166, 230);
  /* text-transform: uppercase; */
  letter-spacing: 0.09em;
  border-radius: 2px;
  align-items: center;
}
